*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background-color:#FFF8F3;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left;
}
.text-primary{
    color: #FD6E0A;
}
.button-primary{
    height: 64px;
    padding: 0 35px 0 35px;
    border-radius: 5px;
    background-color: #FD6E0A;
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.button-secondary{
    height: 64px;
    color: #FD6E0A;
    border-color: #FD6E0A;
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    padding: 0 20px 0 24px;
    text-align: center;
    border-radius: 5px;
}
.icon-gap{
    margin-right: 10px;
}
.header-nav{
    font-size: 45px;
    font-weight: 800; 
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px 0 200px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin: 50px;
}
/* banner section*/
.banner-section{
    display: flex;
    align-items: center;
    margin: 0 50px 0 200px;
}
.banner-sub-title{
    font-size: 45px;
    font-weight: 600px;
    margin-bottom: 5px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    
}
.banner-paragraph{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
}
/* About Section Style*/

.bg-color{

    background-color: #FFF8F3;
    border: none;
    margin: 50px 100px 50px 100px;
    height: 500px;
}

.about-me{
    margin: 100px 150px;
}

.common-heading{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 50px;
}
.aboutME-description{
    color: #757575;
    padding: 30px 100px 0 100px;
    text-align: center;
    font-size: 20px;
}
.about-info{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding:0px 300px 0px 300px;
}
/* What I do section Style*/

.what-i-do-heading{
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
}
.what-i-do-description{
    color: #757575;
    font-size: 18px;
    text-align: center;
    margin: 0 345px 50px 345px;
}
.What-i-do-card{
margin: 50px 230px 130px 230px; 
display: flex;
gap: 24px;

}
.card-info{
    
    padding:30px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgb(174, 171, 171);
    gap: 24px;

   
}  
.card-heading{
    font-size: 20px;
    font-weight: 700;
    margin: 30px 0 20px 0;
}
.card-paragraph{
    color: #757575;
    font-size: 16px;
}
.card-images{
    margin-top: 0px;
}
/* A summary of My Resume section*/
.educational-summary{
    display: flex;
    margin: 0 230px 0 230px;
    gap: 70px;
}

.education{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    
}
.educational-qualification{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 30px;
}
.years{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.education-description{
    color: #757575;
    margin-bottom: 30px;
}
.horizontal{
    color: #D1D1D1;
}
.download-cv{
    justify-content: center;
    display: flex;
    margin-top: 70px;
    margin-bottom: 110px;
}
/*Footer section*/
.footer-section{
    background: #FFF8F3;
    padding: 130px 230px 130px 230px;
    display: flex;
}
.footer-heading{
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 700;
}
.footer-description{
margin-right: 110px;
margin-bottom: 30px;

}
.icon{
    display: flex;
    gap: 24px;

}
input[type=text]{
    border: none;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 460px;
    height: 60px;
    border-radius: 5px;
}
input[type=email]{
    border: none;
    margin-bottom: 20px;
    padding-left: 20px;
    width: 460px;
    height: 60px;
    border-radius: 5px;
}
textarea{
    width: 460px;
    height: 180px;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 20px;
    border: none;
    resize: none;
}
